<h1 class="text-danger">hello crud operation</h1>
<div class="row">
  <div class="col-8">
    <div class="card">
      <div class="card-header bg-success">
        <h5>Emp List</h5>
      </div>
      <div class="card-body">
         <div class="row">
          <div class="col-12">
            <table class=" table table-hover">
              <thead>
                <tr>
                  <th>Sr No</th>
                  <th>Name</th>
                  <th>Contact No</th>
                  <th>Email Id</th>
                  <th class="text-center">Action</th>
                </tr>
              </thead>
              <tbody>
                @for (item of empList; track $index) {

                  <tr>
                    <td>{{$index+1}}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.contactNo}}</td>
                    <td>{{item.emailId}}</td>
                    <td class="text-center">
                      <button class="btn btn-warning" type="button" (click)="onEdit(item)">Edit</button>
                      <button class="btn btn-danger ms-2" type="button" (click)="onDelete(item.empId)">Delete</button>
                    </td>
                   
                  </tr>
                }

              </tbody>
            </table>
          </div>
         </div>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="card">
      <div class="card-header bg-success">
        New Employee
      </div>
      <div class="card-body">
       <form [formGroup]="empForm">
        <div class="row">
          <div class="col-12">
            <label for="text">Name</label>
            <input formControlName="name" type="text" class="form-control">
          </div>
          <div class="col-6">
            <label for="text">Email-id</label>
            <input formControlName="emailId" type="text" class="form-control">
          </div>
          <div class="col-6">
            <label for="text">Contact Number</label>
            <input formControlName="contactNo" type="text" class="form-control">
          </div>
          <div class="col-6">
            <label for="text">City</label>
            <input formControlName="city" type="text" class="form-control">
          </div>
          <div class="col-6">
            <label for="text">State</label>
            <input formControlName="state" type="text" class="form-control">
          </div>
          <div class="col-6">
            <label for="text">Pin code</label>
            <input formControlName="pinCode" type="text" class="form-control">
          </div>
          <div class="col-12">
            <label for="text">Address</label>
            <textarea formControlName="address"  class="form-control"></textarea>
          </div>
         </div>
       </form>
       <div class="row pt-3">
        <div class="col-6 text-center">
          <button class="btn btn-secondary" type='reset'>Reset</button>
        </div>
        <div class="col-6 text-center">
          @if(empForm.controls['empId'].value=='0'){
            <button class="btn btn-primary" type="button" (click)="onSave()">Save Emp</button>

          }@else {
            <button class="btn btn-warning" type="button" (click)="onUpdate()">Update Emp</button>

          }
        </div>
       </div>
      </div>
    </div>
  </div>
</div>

<router-outlet />
